<!-- header.component.html -->
<nav class="header">
    <div class="logo">
        <img src="assets/lib3.png" alt="Logo" width="250">
        
    </div>
    <div class="row mr-2 ml-auto">
        <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
            <mat-icon class="user-image-icon ml-1">settings</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
            Logout
            </button>
        </mat-menu>
    </div>
</nav>
