<div class="student-details">
    <div class="form-group">
    <form [formGroup]="viewForm">
      <div class="form-floating mb-1">
        <input type="number" class="form-control" id="floatingId" placeholder="Student ID" formControlName="Id" required>
        <label for="floatingId">Student ID</label>
      </div>   
  
      <div class="form-floating mb-1">
        <input type="text" class="form-control" id="floatingFName" placeholder="Student First Name" formControlName="FirstName" required>
        <label for="floatingFName">Student First Name</label>
      </div>
  
      <div class="form-floating mb-1">
        <input type="text" class="form-control" id="floatingLName" placeholder="Student Last Name" formControlName="LastName" required>
        <label for="floatingLName">Student Last Name</label>
      </div>
  
      <div class="form-floating mb-1">
        <input type="email" class="form-control" id="floatingEmail" placeholder="Email" formControlName="Email" required>
        <label for="floatingEmail">Email ID</label>
      </div>
  
      <div class="form-floating mb-1">
        <input type="text" class="form-control" id="floatingPhone" placeholder="Contact No." formControlName="Phone" required>
        <label for="floatingPhone">Contact No.</label>
      </div>
  
      <div class="form-floating mb-1">
        <input type="text" class="form-control" id="floatingNIC" placeholder="NIC" formControlName="NIC" required>
        <label for="floatingNIC">NIC</label>
      </div>
  
      <div class="form-floating mb-1">
        <input type="text" class="form-control" id="floatingDOB" placeholder="DOB" formControlName="DOB" required>
        <label for="floatingDOB">DOB</label>
      </div>
  
      <div class="form-floating mb-1">
        <input type="text" class="form-control" id="floatingAddress" placeholder="Address" formControlName="Address" required>
        <label for="floatingAddress">Address</label>
      </div>
    </form>
    </div>
  </div>
  