.sidebar {
    background-color: rgb(195, 137, 67);
    height: 512px;
    width: 200px;
    transition: width 0.3s ease; 
}

.expanded .sidebar {
    width: 200px; 
}

.collapsed .sidebar {
    width: 0;
    overflow: hidden;
}
